<div class="form-group">
    <label>ชื่อปลา</label>
    <input ng-model="content.fish_name" type="text" class="form-control"  placeholder="Fish Name">
</div>

<div class="form-group">
    <label>ชื่อทางวิทยาศาสตร์</label>
    <input ng-model="content.fish_science_name" type="text" class="form-control"  placeholder="Science Name">
</div>

<div class="form-group">
    <label>แหล่งที่อยู่</label>
    <input ng-model="content.fish_area" type="text" class="form-control"  placeholder="Area">
</div>


<div class="form-group">
    <label>อื่นๆ</label>
    <input ng-model="content.remark" type="text" class="form-control"  placeholder="Remark">
</div>