
.editor h2 {
    font-family: Tahoma;
    font-size: 18px;
    font-weight: bold;
}

.editor h3 {
    font-family: Tahoma;
    font-size: 16px;
    font-weight: bold;
}

.editor p {
    font-family: Tahoma;
    font-size: 14px;
}

.editor table {
    border : solid silver 1px;
}