<div>
    <div class="row">
        <div class="pull-left">
            <button ui-sref="create" type="button" class="btn btn-primary">Create New User</button>
        </div>
        <div class="pull-right">
            <form class="form-inline">
                <div class="input-group">
                    <form ng-submit="filterChange()">
                        <input type="text" ng-model="filterWord" class="form-control" placeholder="Search for..."/>
                        <span class="input-group-btn">
                            <button ng-click="filterChange()" class="btn btn-primary" type="submit">Go!</button>
                        </span>
                    </form>
                </div> <!-- /input-group -->
            </form>
        </div>
    </div>

    <div class="row">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Id</th>
                <th>Avatar</th>
                <th>Username</th>
                <th>Name</th>
                <th>Password</th>
                <th>Role</th>
                <th>email</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
                <tr ng-repeat="u in users">
                    <td>{{u.id}}</td>
                    <td>{{u.avatar}}</td>
                    <td>{{u.username}}</td>
                    <td>{{u.title}}{{u.firstname}} {{u.lastname}}</td>
                    <td>{{u.password}}</td>
                    <td>{{u.role.name}}</td>
                    <td>{{u.email}}</td>
                    <td>
                        <div class="btn-group btn-group-sm" role="group">
                            <button type="button" ui-sref="edit({id:u.id})" class="btn">Edit</button>
                            <button type="button" class="btn btn-danger" ng-click="delete(u)">Delete</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="row">
        <div>
            <div class="pull-left">
                <span ng-if="dt.count > 0">
                    Showing {{ dt.skip * dt.take + 1}} to {{dt.skip * dt.take + dt.count}} of {{dt.total}} entries
                </span>

                <span ng-if="dt.count <= 0">
                    Showing 0 to 0 of {{dt.total}} entries
                </span>
            </div>

            <div class="pull-right">
                <pagination ng-change="pageChange()" total-items="dt.total" items-per-page="dt.take"
                            ng-model="currentPage" class="pagination-sm" boundary-links="true"
                            rotate="false"></pagination>
            </div>
        </div>
    </div>

</div>