<h2>Add Content</h2>

<form class="ui form" ng-submit="save()">

    <div ng-if="message" class="ui negative message">
        <div class="header">We had some issues</div>
        <ul class="list">
            <li ng-repeat="m in message" ng-bind="m"></li>

        </ul>
    </div>


    <div class="ui page grid" style="padding-left: 0px;;">

        <div class="column" style="padding-left: 0px;">

            <h4 class="ui dividing header">Content Information</h4>


            <div class="column" style="padding-left: 0px;">
                <h1 class="editor" ng-model="self.content.title" ui-tinymce="self.mceOptionsTitle"
                    style="border: 1px solid lightgrey;">
                    หัวเรื่อง
                </h1>
            </div>


            <div class="editor" ng-model="self.content.content" ui-tinymce="self.mceOptions"
                 style="border: 1px solid lightgrey;min-height: 400px;">
                เนื้อหาสารานุกรม
            </div>


            <div class="field">
                <label>Category</label>

                <div class="ui fluid floating dropdown upward labeled icon button">
                    <i class="world icon"></i>
                    <span class="text">Select Category</span>

                    <div class="menu">
                        <div class="item" ng-repeat-start="category in self.categories"
                             ng-click="self.content.category = category">
                            {{category.name}}
                        </div>
                        <div class="item" style="text-indent: 2em;" ng-repeat="subcat in category.children"
                             ng-click="self.content.category = subcat">
                            {{category.name}}-{{subcat.name}}
                        </div>
                        <div ng-repeat-end=""></div>
                    </div>
                </div>
            </div>

            <div class="field">
                <label>เอกสารอ้างอิง</label>

                <div id="ref_dropdown" class="ui fluid search selection dropdown">
                    <span class="text">เลือกเอกสารอ้างอิง</span>
                    <i class="dropdown icon"></i>

                    <div class="menu">
                    </div>
                </div>
            </div>

            <div class="ui list">
                <div class="item" ng-repeat="r in self.content.bibliographies">

                    <i ng-click="self.removeRef(r)" class="delete red icon" style="cursor:pointer"></i>

                    <div class="content">
                        <div class="header">{{r.call_code}}</div>
                        <div class="description" ng-bind-html="self.getShortTextRef(r)">
                        </div>
                    </div>
                </div>
            </div>


            <button type="submit" class="ui primary submit button">Save</button>
            <button type="button" ui-sref="home" class="ui submit button">Cancel</button>

        </div>
    </div>


</form>