<h2>Contents Management</h2>

<div ui-sref="add" class="ui primary button">
    Add Content
</div>

<table class="ui celled striped table">
    <thead>
    <tr>
        <th class="center aligned one wide">ID</th>
        <th class="center aligned four wide">Title</th>
        <th class="center aligned wide">Category</th>
        <th class="center aligned four wide">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="content in self.contents">
        <td class="collapsing" ng-bind="content.id"></td>
        <td ng-bind="content.title"></td>
        <td>
            {{content.category.name}}
        </td>
        <td class="center aligned collapsing">
            <div class="ui buttons">
                <button ui-sref="edit({id:content.id})" class="ui positive button">Edit</button>
                <button ng-click="showDeleteModal(content)" class="ui negative button">Delete</button>
            </div>
        </td>
    </tr>
    </tbody>
</table>

<modal ng-model="delete_modal">
    <i ng-click="closeDeleteModal()" class="close icon"></i>
    <div class="header">
        Delete User
    </div>
    <div class="content">
        <div class="ui medium image">
            <img src="/images/square-image.png">
        </div>
        <div class="description">
            <div class="ui header">Do you want to delete this user?</div>
            <p>User ID : <span ng-bind="user.id"></span></p>
            <p ng-bind="user.email"></p>
        </div>
    </div>
    <div class="actions">
        <div class="ui black button" ng-click="ajaxDelete(null,false)">
            No
        </div>
        <div class="ui positive right labeled icon button" ng-click="ajaxDelete(user,true)">
            Yes
            <i class="checkmark icon"></i>
        </div>
    </div>
</modal>
